*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
  }

  header{
    background-color: black;
    width: 100%; 
    position:fixed;
    top:0;
    z-index: 100;
    height: 4vw;
  }

  .header-line{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
  }

  .header-line__h1{
  color: aliceblue;
  padding: 1vw;
  }

  .header-line__block{
    display: flex;
    align-items: center;
  }
  
 .header-line__input{
   margin-right: 0.5vw;
    width: 100%;
    /*косяк при увеличении ширины*/
    height: 2vw;
    border-radius: 0.52vw;
    border-color: #FFFFFF;
    outline: none;
    border: 0;
    padding-left: 1vw;

 }

 .header-line__btn {
  width: 10vw;
  height: 2vw;
  border-radius: 1vw;
  background-color: #8FC1E3;
  border: none;
  margin-right: 1vw;
}

.header-line__btn:hover {
  color: #fff;
  background-color: #5085A5;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.conteiner{
  display: flex;
  margin-top: 5vw;
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
}

.conteiner__aside{
  top: 3vw;
  margin: 0;
  padding: 3vw;
  width: 13vw;
  background-color: #f1f1f1;
  position: sticky;
  height: 50%;
  overflow: auto;
  color: #000000;
}

.conteiner__ul{
  list-style-type: none;

}

.conteiner__li{
  padding-bottom: 1vw;
} 

.conteiner__h2{
  font-size: 1.2vw;
  padding-bottom: 1vw;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  width: 100%;
}

.post{
  display: flex;
  flex-direction: column;
  margin-right: 15vw;
  background-color: #E5E5E5;
  margin-bottom: 3vw;
}

.post__img{
  max-height: 25vw;
}

.post__block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0.5vw;
  min-height: 10vw;
  max-width: 23vw;

}

.post__block1{
  display: flex;
  justify-content: space-between;
}

.post__comment{
  max-width: 2vw;
}

.post__star{
  max-width: 2vw;
  margin-right: 1vw;;
}

.post__category{
  color: #ACA3A3;
}

footer{
  width: 100%;
  background-color: black;
  z-index: 0;
}
.footer-line{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
}

.footer-line__nav{
  color: aliceblue;
}

.footer-line__nav1{
  padding-right: 1vw;
}

.footer-line__h2{
color: aliceblue;
padding: 1vw;
}

